@import "../../third-party/pure-css/base.scss";

$default-color: #8D8786;
$default-color-hover: #8D8786;
$default-color-selected: #928c8B;
$primary-color: #0075F2;
$primary-color-hover: #0069DA;
$primary-color-click: #0062CC;
$warning-color: #B8311E;
$warning-color-hover: #A42B1A;
$warning-color-click: #772014;
$outside-color: #F0F0F0; // header and footer color

html {
  font-family: 'Roboto', sans-serif;
}

html, body{
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

#header {
  box-shadow: 0 0 5px 0;
  background-color: $outside-color;
}

#content {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 0px;
}

.menu {
  box-shadow: 0 0 5px 0;
  background-color: $outside-color;
  display: flex;
}

.menu__item {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 1em 0;
}

.menu__item--selected {
  color: $primary-color;
}

/* Wish List ********************/
.wish-list {
  display: flex;
  flex-flow: column;
}

.wish-list__add {
  width: 56px;
  height: 56px;
  line-height: 56px;
  background-color: $primary-color;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0,0,0,0.14),
    0 1px 5px 0 rgba(0,0,0,0.12),
    0 3px 1px -2px rgba(0,0,0,0.2);
  position: fixed;
  right: 1em;
  bottom: 4em;
  z-index: 1000;
  text-align: center;
  color: white;

  & > span {
    font-size: 30px;
  }
}

.wish-list-item {
  border-bottom: 1px solid #C0C0C0;
  padding: 1em;
}

.wish-list-item:last-child {
  // give some extra space at the bottom for the add button
  margin-bottom: 6em;
}

.wish-list-item--selected {
  box-shadow: 0 0 10px 0;
}

.wish-list-item__name {
  font-size: 2em;
  margin: 0;
}

.wish-list-item__controls {
  display: flex;
  justify-content: flex-end;
}

.wli-control {
  padding: 1em;
  color: $primary-color;
  text-transform: uppercase;
  cursor: pointer;
}

/* Wish List Item Edit *****************************/
.wli-edit {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 1em;

  & textarea {
    margin: 0.5em 0 1.5em 0;
    height: 6em;
  }

  & input {
    margin: 0.5em 0 1.5em 0;
  }
}

.wli-edit__controls {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.wli-edit-control {
  flex-basis: 30%;
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.wli-edit-control__delete {
  color: $warning-color;
}

.wli-edit-control__save {
  color: $primary-color;
}

/* END Wish list Item Edit *************************/

/* End Wish List ****************/